<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Meals&Miles</title>
        <link rel="stylesheet" href="../static/css/account.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    </head>
    <body>
        <nav class="navbar">

            <div class="nav-left">
               <img src="{{ url_for('static', filename='images/logo.png') }}" alt="LOGO" class="logo">  
            </div>

            <div class="nav-center">
                <h1 class="main-heading">Meals & Miles</h1>
                <h2>A place where you can share your Meal experiences and Travel stories</h2>
            </div>

            <div class="nav-right" id= "navRight">
                
                <a href="{{ url_for('views.logout') }}">Logout</a>
                <a href="javascript:void(0);" class="icon" onclick="displayHamberger()">
                           <i class="fa fa-bars"></i>
                </a>
            </div>
        </nav>
        <section class="main">

            <div class="profile-container">
                <div class="profile-left">
                <h2>Welcome, {{ current_user.username }}!</h2>
                    <img src="{{ url_for('static', filename=current_user.profile_pic) }}" class="profile-pic"id="profilePic">
                    <br><br>

                    <form id="uploadForm" action="/upload_profile_picture" method="POST" enctype="multipart/form-data">
                    <input type="file" id="profileInput" name="profile_pic" accept="image/*"hidden>
                    <button type="button" id="changeBtn" style="display:none;"> Change Profile Picture</button>
                    <button type="submit" id="uploadBtn" style="display:none;">Upload Profile Picture </button>
                    </form>
                    
                    <br>
                </div>
                <div class="profile-right">                  

                        {% if not current_user.name %}
                            <p>Please complete your profile.</p>
                        {% endif %}

                        {% if current_user.name %}
                            <p><strong>Name:</strong> {{ current_user.name }}</p>
                        {% endif %}

                        {% if current_user.age %}
                        <p><strong>Age:</strong> {{ current_user.age }}</p>
                        {% endif %}

                        {% if current_user.gender %}
                        <p><strong>Gender:</strong> {{ current_user.gender }}</p>
                        {% endif %}

                        {% if current_user.place %}
                        <p><strong>Place:</strong> {{ current_user.place }}</p>
                        {% endif %}

                        {% if current_user.interests %}
                        <p><strong>Interests:</strong> {{ current_user.interests }}</p>
                        {% endif %}

                        {% if current_user.specify %}
                        <p><strong>Specify:</strong> {{ current_user.specify }}</p>
                        {% endif %}

                        {% if current_user.cuisine %}
                        <p><strong>Cuisine:</strong> {{ current_user.cuisine }}</p>
                        {% endif %}

                        {% if current_user.about_me %}
                        <p><strong>About Me:</strong> {{ current_user.about_me }}</p>
                        {% endif %}

                        {% if current_user.profile_description %}
                        <p><strong>Profile Description:</strong> {{ current_user.profile_description }}</p>
                        {% endif %}
                        <button class="profile-btn" onclick="window.location.href='/edit'">Edit Profile</button>
                        <a href="/delete_account" class="delete-btn"
                        onclick="return confirm('Are you sure? This will permanently delete your account and posts.')">Delete Account</a>
                </div>
            </div>


        <section class="posts-section" id="postsSection">
            
            <h2>My Posts</h2>
                <button class="profile-btn" onclick="window.location.href='/create_post'">Create New Post</button>
            

                {% for post in current_user.posts %}

            <div class="post-card">
                <div class="post-info">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.content }}</p>                  
                    <p>❤️ {{ post.likes|length }} Likes</p>
                    <h4>Comments</h4>
                    {% if post.comments %}
                    {% for comment in post.comments %}
                    <p><strong>{{ comment.user.username }}</strong>:{{ comment.text }}</p>
                    {% endfor %}
                    {% else %}
                    <p>No comments yet.</p>
                    {% endif %}
                    <button class="edit-btn" onclick="window.location.href='/edit_post/{{ post.id }}'">Edit Post</button>
                    <button class="delete-btn" onclick="window.location.href='/delete_post/{{ post.id }}'">Delete Post</button>
                </div>

            {% if post.image %}
            <div class="post-image">
            <img src="{{ url_for('static', filename=post.image) }}">
            </div>
            {% endif %}

        </div>
        {% endfor %}
            
        </section>
                        <div class="community-feed">
                    <h2>Community Feed</h2>
                    {% for post in community_posts %}

                    <div class="community-post">

                        <a href="/profile/{{ post.author.id }}">
                        <strong>{{ post.author.username }}</strong></a>
                        <h4>{{ post.title }}</h4>
                        <p>{{ post.content[:80] }}...</p>
                        <p>❤️ {{ post.likes|length }} Likes</p>
                    </div>
                    {% endfor %}
                </div>
        </section>
            
        </section>
            <footer class="footer">
            <div class="footer-icons">
                 <a href="https://www.facebook.com/mealsandmiles">
                 <i class="fab fa-facebook"></i>
                 </a>
                 
                 <a href="https://www.instagram.com/_meals_and_miles/">
                 <i class="fab fa-instagram"></i>
                 </a>
                 <a href="mailto:info@mealsandmiles.com" target="_blank">
                 <i class="fas fa-envelope"></i>
                 </a>
             </div>
             <p>Meals&Miles &copy 2026 All Rights Reserved</p>
         </footer>
         
         <script src="../static/js/login.js"></script>
         <script src="{{ url_for('static', filename='js/account.js') }}"></script>
    </body>
</html>    