<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Meals&Miles</title>
        <link rel="stylesheet" href="../static/css/account.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    </head>
    <body>
        <nav class="navbar">

            <div class="nav-left">
               <img src="{{ url_for('static', filename='images/logo.png') }}" alt="LOGO" class="logo">  
            </div>

            <div class="nav-center">
                <h1 class="main-heading">Meals & Miles</h1>
                <h2>A place where you can share your meal experiences and travel stories</h2>
            </div>

            <div class="nav-right" id= "navRight">
                <a href="/account">{{ current_user.username }}</a>
                <a href="{{ url_for('views.logout') }}">Logout</a>
                <a href="javascript:void(0);" class="icon" onclick="displayHamberger()">
                           <i class="fa fa-bars"></i>
                </a>
            </div>
        </nav>
        <section class="main">
            
            <div class="profile-page">
            <div class="profile-container">
                <div class="profile-left">
                <h2>{{ user.username }}'s Profile</h2>
                    <img src="{{ url_for('static', filename=user.profile_pic) }}" class="profile-pic"id="profilePic">
                    <br><br>

                    <form id="uploadForm" action="/upload_profile_picture" method="POST" enctype="multipart/form-data">
                    <input type="file" id="profileInput" name="profile_pic" accept="image/*"hidden>
                
                    </form>
                    
                    <br>
                </div>
                <div class="profile-right">                  

                        {% if not user.name %}
                            <p>Please complete your profile.</p>
                        {% endif %}

                        {% if user.name %}
                            <p><strong>Name:</strong> {{ user.name }}</p>
                        {% endif %}

                        {% if user.age %}
                        <p><strong>Age:</strong> {{ user.age }}</p>
                        {% endif %}

                        {% if user.gender %}
                        <p><strong>Gender:</strong> {{ user.gender }}</p>
                        {% endif %}

                        {% if user.place %}
                        <p><strong>Place:</strong> {{ user.place }}</p>
                        {% endif %}

                        {% if user.interests %}
                        <p><strong>Interests:</strong> {{ user.interests }}</p>
                        {% endif %}

                        {% if user.specify %}
                        <p><strong>Specify:</strong> {{ user.specify }}</p>
                        {% endif %}

                        {% if user.cuisine %}
                        <p><strong>Cuisine:</strong> {{ user.cuisine }}</p>
                        {% endif %}

                        {% if user.about_me %}
                        <p><strong>About Me:</strong> {{ user.about_me }}</p>
                        {% endif %}

                        {% if user.profile_description %}
                        <p><strong>Profile Description:</strong> {{ user.profile_description }}</p>
                        {% endif %}
                
                </div>
            </div>
            

        <section class="posts-section" id="postsSection">
            
            <h2>{{ user.username }}'s Posts</h2>         
                {% for post in user.posts %}

            <div class="post-card">
                <div class="post-info">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.content }}</p>
                    <a href="/like_post/{{ post.id }}" class="like-btn">❤️ {{ post.likes|length }} Likes</a>
                    <h4>Comments</h4>
                    {% for comment in post.comments %}
                    <p><strong>{{ comment.user.username }}</strong>:{{ comment.text }}</p>
                    {% endfor %}

                    <form action="/add_comment/{{ post.id }}" method="POST" class="comment-form">
                        <textarea name="comment" placeholder="Write a comment..." required></textarea>
                        <br>
                        <button type="submit" id="comment-btn">Add Comment</button>
                    </form>
                </div>


            {% if post.image %}
            <div class="post-image">
            <img src="{{ url_for('static', filename=post.image) }}">
            </div>
            {% endif %}

        </div>
        {% endfor %}
            
        </section>
    </div>
            
        </section>
            <footer class="footer">
            <div class="footer-icons">
                 <a href="https://www.facebook.com/mealsandmiles">
                 <i class="fab fa-facebook"></i>
                 </a>
                 
                 <a href="https://www.instagram.com/_meals_and_miles/">
                 <i class="fab fa-instagram"></i>
                 </a>
                 <a href="mailto:info@mealsandmiles.com" target="_blank">
                 <i class="fas fa-envelope"></i>
                 </a>
             </div>
             <p>Meals&Miles &copy 2026 All Rights Reserved</p>
         </footer>
         
         <script src="../static/js/login.js"></script>
         <script src="{{ url_for('static', filename='js/account.js') }}"></script>
    </body>
</html>    